In [1]:
import pandas as pd

## Web Scraping 250 best rated bollywood movies from IMDb website

In [2]:
df = pd.read_html('http://www.imdb.com/india/top-rated-indian-movies/')
table = df[0]
IMDb_rating = table.iloc[:,[1,2]]
IMDb_rating.head()

             Rank & Title  IMDb Rating
0       1.  Anand  (1971)          8.7
1    2.  Drishyam  (2013)          8.6
2     3.  Nayakan  (1987)          8.6
3  4.  Anbe Sivam  (2003)          8.5
4    5.  Gol Maal  (1979)          8.5

In [5]:
rank = IMDb_rating["Rank & Title"].str.split(pat=".",n=1,expand=True)
rank.head(3)

   0                   1
0  1       Anand  (1971)
1  2    Drishyam  (2013)
2  3     Nayakan  (1987)

In [9]:
movie_name = rank[1].str[:-6].str.title()

In [13]:
year = rank[1].str[-5:].str.replace(")","")

In [16]:
imdb_df = pd.concat([rank[0],movie_name,year,IMDb_rating["IMDb Rating"]],axis=1)

In [18]:
imdb_df.columns = ["Rank","Movie_Name","Year","Rating"]

In [19]:
imdb_df

    Rank                       Movie_Name  Year  Rating
0      1                          Anand    1971     8.7
1      2                       Drishyam    2013     8.6
2      3                        Nayakan    1987     8.6
3      4                     Anbe Sivam    2003     8.5
4      5                       Gol Maal    1979     8.5
5      6                         Dangal    2016     8.5
6      7                   Black Friday    2004     8.5
7      8               Taare Zameen Par    2007     8.4
8      9             Jaane Bhi Do Yaaro    1983     8.4
9     10                   Vikram Vedha    2017     8.4
10    11                       3 Idiots    2009     8.4
11    12                Pather Panchali    1955     8.3
12    13                  Chupke Chupke    1975     8.3
13    14                          Guide    1965     8.3
14    15                     Thalapathi    1991     8.3
15    16              Khosla Ka Ghosla!    2006     8.3
16    17                   Thani Oruvan    2015     8.2
17    18          Kannathil Muthamittal    2002     8.2
18    19                Rang De Basanti    2006     8.2
19    20                    A Wednesday    2008     8.2
20    21                       Drishyam    2015     8.2
21    22                         Talvar    2015     8.2
22    23               Paan Singh Tomar    2012     8.2
23    24                          Queen    2013     8.2
24    25                    Apur Sansar    1959     8.2
25    26                          Black    2005     8.2
26    27                  Soodhu Kavvum    2013     8.2
27    28                     Hera Pheri    2000     8.2
28    29                         Sholay    1975     8.2
29    30                         Shahid    2012     8.2
..   ...                              ...   ...     ...
220  221                   Dedh Ishqiya    2014     7.1
221  222                      Raajneeti    2010     7.1
222  223                   Dasavatharam    2008     7.1
223  224                        Dhamaal    2007     7.1
224  225        Shootout At Lokhandwala    2007     7.1
225  226                          Gunda    1998     7.1
226  227               Yennai Arindhaal    2015     7.1
227  228                        Tamasha    2015     7.1
228  229                          Wazir    2016     7.1
229  230                    Race Gurram    2014     7.1
230  231            Rab Ne Bana Di Jodi    2008     7.1
231  232                 Luck By Chance    2009     7.1
232  233                     Dhobi Ghat    2010     7.1
233  234                Koi... Mil Gaya    2003     7.1
234  235            Atharintiki Daaredi    2013     7.1
235  236                    Table No.21    2013     7.1
236  237               Chaar Sahibzaade    2014     7.1
237  238                        Hum Tum    2004     7.1
238  239                        Pokkiri    2007     7.1
239  240               Sanam Teri Kasam    2016     7.1
240  241                    Mohabbatein    2000     7.1
241  242                      Tere Naam    2003     7.0
242  243               Dil To Pagal Hai    1997     7.0
243  244                         Rustom    2016     7.0
244  245                         Pardes    1997     7.0
245  246        Karthik Calling Karthik    2010     7.0
246  247                         Sultan    2016     7.0
247  248    Waqt: The Race Against Time    2005     7.0
248  249                   Business Man    2012     7.0
249  250               The Great Father    2017     7.0

[250 rows x 4 columns]

In [20]:
imdb_df["Year"].value_counts()

2015    24
2016    19
2013    17
2012    15
2007    14
2014    13
2010    12
2009    10
2003    10
2006    10
2008    10
2005    10
2004     9
2017     9
2011     8
2001     7
1998     6
2002     5
1997     4
1994     4
1995     4
1975     3
1992     3
2000     3
1999     3
1993     2
1987     2
1959     1
1979     1
1990     1
1965     1
1983     1
1955     1
1978     1
1956     1
1989     1
1971     1
1996     1
1957     1
1991     1
1988     1
Name: Year, dtype: int64